.alert.alert-danger.homenotif-cs {
    top: 3rem;
    z-index: 1;
}

tr.managementuser:hover {
    cursor: pointer;
    color: #aa88bb;
}

.loading-cs {
	display: flex;
	justify-content: center;
	position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    z-index: 10000;
    vertical-align: middle;
    padding-top: 45vh;
    opacity: 0.5;
}

.deletedevisi, .deleteabsensi {
    cursor: pointer;
}
.deletedevisi:hover, .deleteabsensi:hover {
    color: #fff!important;
    background-color: #000;
}

.notifikasi-cs {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
    vertical-align: middle;
    padding-top: 45vh;
}

a.text-cendol {
    color: slateblue!important;
    text-shadow: 0px 1px #ccc!important;
}

.bg-selector {
 	background-color: cadetblue;
}
@media (max-width: 768px) {
    .nav-a-cs {
        display: none;
    }

    .title-cs {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {

    .title-cs {
        font-size: 1rem;
    }
}