.alert.alert-danger.homenotif-cs {
    top: 3rem;
    z-index: 1;
}

tr.managementuser:hover {
    cursor: pointer;
    color: rgba(0,0,255,0.7)!important;
}

tr.reportstyle:hover {
    color: rgba(0,0,255,0.7)!important;
}

.vuepagination-cs:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cutipointer {
    cursor: pointer;
    text-decoration: underline;
}

.cutipointer:hover {
    color: rgba(0,0,255,0.7);
}

.delcuticss:hover {
    cursor: pointer;
    text-decoration: underline;
}
.form-control1 {
    display: block;
    width: 100%;
    height: calc(1em + .75rem + 2px);
    padding: .2rem .2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.loading-cs {
	display: flex;
	justify-content: center;
	position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    z-index: 10000;
    vertical-align: middle;
    padding-top: 45vh;
    opacity: 0.5;
}

.deletedevisi:hover, .deleteabsensi:hover {
    cursor: pointer;
    color: rgba(0,0,255,0.7)!important;
}

.notifikasi-cs {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
    vertical-align: middle;
    padding-top: 45vh;
}

a.text-cendol {
    color: slateblue!important;
    text-shadow: 0px 1px #ccc!important;
}

.bg-selector {
 	background-color: cadetblue;
}
@media (max-width: 768px) {
    .nav-a-cs {
        display: none;
    }

    .title-cs {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {

    .title-cs {
        font-size: 1rem;
    }
}